.item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;

  &:last-child {
    margin-bottom: 0;
  }

  &__legend {
    flex: 0 0 30px;
    height: 4px;
    border-radius: 10px;
    margin-right: 10px;
  }

  &__entity {

  }
}
